body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1558px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:35px;
  width:425px;
  height:111px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:237px;
  width:376px;
  height:792px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:239px;
  width:372px;
  height:788px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:309px;
  width:360px;
  height:640px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:267px;
  width:168px;
  height:10px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:979px;
  width:168px;
  height:10px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:901px;
  width:360px;
  height:48px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:917px;
  width:16px;
  height:16px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:901px;
  width:94px;
  height:48px;
}
#u1240_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240.mouseDown {
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:917px;
  width:16px;
  height:16px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:901px;
  width:94px;
  height:48px;
}
#u1245_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245.mouseDown {
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:901px;
  width:94px;
  height:48px;
}
#u1248_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248.mouseDown {
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:917px;
  width:16px;
  height:16px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#000000;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:331px;
  width:360px;
  height:50px;
  font-size:23px;
  color:#000000;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:345px;
  width:15px;
  height:25px;
  color:#000000;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:309px;
  width:360px;
  height:22px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:313px;
  width:48px;
  height:14px;
  font-size:10px;
  color:#000000;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:313px;
  width:13px;
  height:14px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:313px;
  width:14px;
  height:14px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:313px;
  width:7px;
  height:14px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:313px;
  width:17px;
  height:14px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:313px;
  width:14px;
  height:14px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(174, 174, 174, 0.349019607843137);
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:668px;
  width:337px;
  height:121px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:83px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  border:none;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.0980392156862745) inset;
  -webkit-box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.0980392156862745) inset;
  box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.0980392156862745) inset;
  font-size:36px;
  color:#000000;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:668px;
  width:337px;
  height:83px;
  font-size:36px;
  color:#000000;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:691px;
  width:95px;
  height:37px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:757px;
  width:290px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:788px;
  width:337px;
  height:1px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:544px;
  width:65px;
  height:65px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:544px;
  width:65px;
  height:65px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:544px;
  width:65px;
  height:65px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:544px;
  width:65px;
  height:65px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:515px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:613px;
  width:38px;
  height:16px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:613px;
  width:38px;
  height:16px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:613px;
  width:39px;
  height:16px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:613px;
  width:39px;
  height:16px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:639px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(174, 174, 174, 0.349019607843137);
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:799px;
  width:337px;
  height:102px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:70px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  border:none;
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.0980392156862745) inset;
  -webkit-box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.0980392156862745) inset;
  box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.0980392156862745) inset;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:799px;
  width:337px;
  height:70px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:818px;
  width:95px;
  height:31px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:874px;
  width:290px;
  height:13px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:900px;
  width:337px;
  height:1px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:691px;
  width:88px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:815px;
  width:87px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:426px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:559px;
  width:39px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u1322_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1322.mouseDown {
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:174px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:384px;
  width:343px;
  height:154px;
  overflow:hidden;
}
#u1326_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:154px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1326_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:171px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-11px;
  width:364px;
  height:171px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:154px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1326_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:194px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-16px;
  width:344px;
  height:194px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:154px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1326_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:215px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-24px;
  width:344px;
  height:215px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:512px;
  width:134px;
  height:11px;
  overflow:hidden;
}
#u1333_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:11px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1333_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:11px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1333_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:0px;
  width:30px;
  height:11px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:11px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1333_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:30px;
  height:11px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:443px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:345px;
  width:23px;
  height:22px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:237px;
  width:376px;
  height:792px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:239px;
  width:372px;
  height:788px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:309px;
  width:360px;
  height:640px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:267px;
  width:168px;
  height:10px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:979px;
  width:168px;
  height:10px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:901px;
  width:360px;
  height:48px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:917px;
  width:16px;
  height:16px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:901px;
  width:94px;
  height:48px;
}
#u1363_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363.mouseDown {
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:917px;
  width:16px;
  height:16px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:901px;
  width:94px;
  height:48px;
}
#u1368_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368.mouseDown {
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:901px;
  width:94px;
  height:48px;
}
#u1371_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371.mouseDown {
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:917px;
  width:16px;
  height:16px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:174px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:592px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:309px;
  width:333px;
  height:592px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:233px;
  width:376px;
  height:792px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:235px;
  width:372px;
  height:788px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:305px;
  width:360px;
  height:640px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:263px;
  width:168px;
  height:10px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:975px;
  width:168px;
  height:10px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:897px;
  width:360px;
  height:48px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:913px;
  width:16px;
  height:16px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:897px;
  width:94px;
  height:48px;
}
#u1398_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398.mouseDown {
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:913px;
  width:16px;
  height:16px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:897px;
  width:94px;
  height:48px;
}
#u1403_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403.mouseDown {
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:897px;
  width:94px;
  height:48px;
}
#u1406_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406.mouseDown {
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:913px;
  width:16px;
  height:16px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:174px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:191px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:305px;
  width:360px;
  height:191px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:496px;
  width:360px;
  height:130px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:626px;
  width:360px;
  height:130px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:756px;
  width:360px;
  height:130px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
